# Change

Links to stats from covid

https://ourworldindata.org/coronavirus

https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6

https://ncov2019.live/

## Our world in data

https://ourworldindata.org/grapher/daily-covid-deaths-3-day-average?time=2020-05-01..&country=BEL+BRA+CAN+FRA+DEU+IND+ITA+MEX+NLD+PER+RUS+ESP+SWE+GBR


https://ourworldindata.org/coronavirus-data-explorer?zoomToSelection=true&time=2020-04-22..&casesMetric=true&interval=smoothed&hideControls=true&perCapita=true&smoothing=7&country=ESP~FRA~DEU~POL~GBR~SWE~PRT~UKR~ROU&pickerMetric=location&pickerSort=asc

https://www.google.com/covid19-map/?hl=en-ES

## Situation in europe

https://data.europa.eu/euodp/es/data/dataset/covid-19-coronavirus-data

## Situation In usa
https://covidtracking.com/data/charts/us-daily-deaths

## Situation in spain
https://www.rtve.es/noticias/20200417/coronavirus-comunidades-autonomas/2010870.shtml
https://www.rtve.es/noticias/20200502/mapa-del-coronavirus-espana/2004681.shtml

https://experience.arcgis.com/experience/50d6c4c5599a43f4bebf517daa3a97b6

https://covid19.isciii.es/ Situación en españa por el ISCIII

https://cnecovid.isciii.es/covid19

Hacen reportes en pdf
https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov-China/documentos/Actualizacion_100_COVID-19.pdf

Otros proyectos
https://es.wikipedia.org/wiki/Pandemia_de_enfermedad_por_coronavirus_de_2020_en_Espa%C3%B1a

https://rubenfcasal.github.io/COVID-19/ (El problema es que usa R)

https://github.com/datadista/datasets/tree/master/COVID%2019

https://keepler.io/covid19/

https://www.stopcorona.es/
Portal de iniciativas
https://github.com/datadista/datasets/tree/master/COVID%2019
Geodevelopers canal de youtube 

https://covid19.inverence.com/ccaa.html#and

In [1]:
import pandas as pd
import numpy as np
#import dask.dataframe as dd
#%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-white')
import matplotlib as mpl

plt.style.use( 'seaborn-whitegrid')
plt.style.use( 'seaborn-dark-palette')

In [2]:
%matplotlib widget

## Normalidad CCAAA

In [3]:
df_19 = pd.read_excel('pobmun19.xlsx', header=1)
df_19 = df_19.rename(columns={'PROVINCIA':'provincia', 'NOMBRE':'municipio', 'POB19': 'pob', 'HOMBRES':'m', 'MUJERES':'w', 'CPRO':'cpro', 'CMUN':'cmun'})

In [4]:
#df_isos = pd.read_csv('https://gist.githubusercontent.com/JustDevZero/139ad12e822c79496769/raw/f5a27fae77fc39bca98500b3e36130810e0020f5/provinces_es.csv')

#df_isos.to_excel('list_isos_prov_spain.xlsx')
df_isos = pd.read_excel('list_isos_prov_spain.xlsx', header=0)
df_isos

   code  postal_code                   name  phone_code iso2 isoccaa
0    VI            1                  Álava         945   ES      PV
1    AB            2               Albacete         967   ES      CM
2     A            3                Alacant         950   ES      VC
3    AL            4                Almería         920   ES      AN
4    AV            5                  Ávila         924   ES      CL
5    BA            6                Badajoz         924   ES      EX
6    PM            7          Illes Balears         971   ES      IB
7     B            8              Barcelona          93   ES      CT
8    BU            9                 Burgos         947   ES      CL
9    CC           10                Cáceres         927   ES      EX
10   CA           11                  Cádiz         956   ES      AN
11   CS           12               Castelló         964   ES      VC
12   CR           13            Ciudad Real         926   ES      CM
13   CO           14                Córdoba         957   ES      AN
14    C           15               A Coruña         981   ES      GA
15   CU           16                 Cuenca         969   ES      CM
16   GI           17                 Girona         972   ES      CT
17   GR           18                Granada         958   ES      AN
18   GU           19            Guadalajara         949   ES      CM
19   SS           20               Gipuzkoa         943   ES      PV
20    H           21                 Huelva         959   ES      AN
21   HU           22                 Huesca         974   ES      AR
22    J           23                   Jaén         953   ES      AN
23   LE           24                   León         987   ES      CL
24    L           25                 Lleida         973   ES      CT
25   LO           26               La Rioja         941   ES      RI
26   LU           27                   Lugo         982   ES      GA
27    M           28                 Madrid          91   ES      MD
28   MA           29                 Málaga          95   ES      AN
29   MU           30                 Murcia         968   ES      MC
30    N           31               Nafarroa         948   ES      NC
31   OR           32                Ourense         988   ES      GA
32    O           33               Asturias          98   ES      AS
33    P           34               Palencia         979   ES      CL
34   GC           35             Las Palmas         928   ES      CN
35   PO           36             Pontevedra         986   ES      GA
36   SA           37              Salamanca         923   ES      CL
37   TF           38  Sta. Cruz de Tenerife         922   ES      CN
38    S           39              Cantabria         942   ES      CB
39   SG           40                Segovia         921   ES      CL
40   SE           41                Sevilla          95   ES      AN
41   SO           42                  Soria         975   ES      CL
42    T           43              Tarragona         977   ES      CT
43   TE           44                 Teruel         978   ES      AR
44   TO           45                 Toledo         925   ES      CM
45    V           46               Valéncia          96   ES      VC
46   VA           47             Valladolid         983   ES      CL
47   BI           48                Bizkaia          94   ES      PV
48   ZA           49                 Zamora         980   ES      CL
49    Z           50               Zaragoza         976   ES      AR
50   CE           51                  Ceuta         956   ES      CE
51   ML           52                Melilla          95   ES      ML

In [5]:
df_muni_iso = df_19.merge(right=df_isos, left_on='cpro', right_on='postal_code')

df_ca_pob = df_muni_iso.groupby('isoccaa').pob.sum().reset_index()
df_pr_pob = df_muni_iso.groupby('code').pob.sum().reset_index()

In [6]:
    
df_spain = pd.read_csv('https://cnecovid.isciii.es/covid19/resources/datos_ccaas.csv' ,infer_datetime_format=True, error_bad_lines=False)

In [7]:
df_spain

,ccaa_iso,fecha,num_casos,num_casos_prueba_pcr,num_casos_prueba_test_ac,num_casos_prueba_otras,num_casos_prueba_desconocida
0,AN,2020-01-31,0,0,0,0,0
1,AR,2020-01-31,0,0,0,0,0
2,AS,2020-01-31,0,0,0,0,0
3,CB,2020-01-31,0,0,0,0,0
4,CE,2020-01-31,0,0,0,0,0
...,...,...,...,...,...,...,...
3510,ML,2020-08-02,0,0,0,0,0
3511,NC,2020-08-02,61,61,0,0,0
3512,PV,2020-08-02,136,136,0,0,0
3513,RI,2020-08-02,3,3,0,0,0
3514,VC,2020-08-02,65,65,0,0,0

In [8]:
df_spain_comp = df_spain.merge(right=df_ca_pob,left_on='ccaa_iso', right_on='isoccaa')

In [9]:
df_spain_comp['casos_rel'] = df_spain_comp.num_casos / df_spain_comp.pob * 1e5

In [10]:
last_date = df_spain_comp.fecha.max()
df_spain_comp[df_spain_comp.fecha == last_date].sort_values(['casos_rel'],ascending=False)

,ccaa_iso,fecha,num_casos,num_casos_prueba_pcr,num_casos_prueba_test_ac,num_casos_prueba_otras,num_casos_prueba_desconocida,isoccaa,pob,casos_rel
369,AR,2020-08-02,322,322,0,0,0,AR,1319291,24.407049
2959,NC,2020-08-02,61,61,0,0,0,NC,654214,9.324166
3144,PV,2020-08-02,136,136,0,0,0,PV,2207776,6.160045
2589,MD,2020-08-02,360,360,0,0,0,MD,6663394,5.402652
739,CB,2020-08-02,21,18,0,0,3,CB,581078,3.613973
1664,CT,2020-08-02,241,241,0,0,0,CT,7675217,3.139976
2219,IB,2020-08-02,29,29,0,0,0,IB,1149460,2.522924
2404,MC,2020-08-02,32,32,0,0,0,MC,1493898,2.142047
1109,CL,2020-08-02,44,44,0,0,0,CL,2399548,1.833679
1849,EX,2020-08-02,19,19,0,0,0,EX,1067710,1.779509
184,AN,2020-08-02,149,149,0,0,0,AN,8414240,1.770808
1294,CM,2020-08-02,33,33,0,0,0,CM,2032863,1.623326
3514,VC,2020-08-02,65,65,0,0,0,VC,5003769,1.299021
3329,RI,2020-08-02,3,3,0,0,0,RI,316798,0.946976
1479,CN,2020-08-02,19,19,0,0,0,CN,2153389,0.882330
2034,GA,2020-08-02,14,14,0,0,0,GA,2699499,0.518615
554,AS,2020-08-02,5,5,0,0,0,AS,1022800,0.488854
2774,ML,2020-08-02,0,0,0,0,0,ML,86487,0.000000
924,CE,2020-08-02,0,0,0,0,0,CE,84777,0.000000

In [11]:
last_date = df_spain_comp.fecha.max()

df_spain_comp[df_spain_comp.fecha == last_date].sort_values(['num_casos'],ascending=False)

,ccaa_iso,fecha,num_casos,num_casos_prueba_pcr,num_casos_prueba_test_ac,num_casos_prueba_otras,num_casos_prueba_desconocida,isoccaa,pob,casos_rel
2589,MD,2020-08-02,360,360,0,0,0,MD,6663394,5.402652
369,AR,2020-08-02,322,322,0,0,0,AR,1319291,24.407049
1664,CT,2020-08-02,241,241,0,0,0,CT,7675217,3.139976
184,AN,2020-08-02,149,149,0,0,0,AN,8414240,1.770808
3144,PV,2020-08-02,136,136,0,0,0,PV,2207776,6.160045
3514,VC,2020-08-02,65,65,0,0,0,VC,5003769,1.299021
2959,NC,2020-08-02,61,61,0,0,0,NC,654214,9.324166
1109,CL,2020-08-02,44,44,0,0,0,CL,2399548,1.833679
1294,CM,2020-08-02,33,33,0,0,0,CM,2032863,1.623326
2404,MC,2020-08-02,32,32,0,0,0,MC,1493898,2.142047
2219,IB,2020-08-02,29,29,0,0,0,IB,1149460,2.522924
739,CB,2020-08-02,21,18,0,0,3,CB,581078,3.613973
1479,CN,2020-08-02,19,19,0,0,0,CN,2153389,0.882330
1849,EX,2020-08-02,19,19,0,0,0,EX,1067710,1.779509
2034,GA,2020-08-02,14,14,0,0,0,GA,2699499,0.518615
554,AS,2020-08-02,5,5,0,0,0,AS,1022800,0.488854
3329,RI,2020-08-02,3,3,0,0,0,RI,316798,0.946976
924,CE,2020-08-02,0,0,0,0,0,CE,84777,0.000000
2774,ML,2020-08-02,0,0,0,0,0,ML,86487,0.000000

In [12]:
list_ccaa3 = df_spain[df_spain.fecha == last_date].sort_values(['num_casos'],ascending=False).ccaa_iso
print(list_ccaa3.iloc[2:9])
list_ccaa4 = list(list_ccaa3.iloc[2:10])

3504    CT
3496    AN
3512    PV
3514    VC
3511    NC
3501    CL
3502    CM
Name: ccaa_iso, dtype: object

In [58]:
list_ccaa = ['AR', 'CT', 'MD', 'AN','CN','GA']
list_ccaa = [ 'MD', 'AN','CN','GA']
df_sub_ccaa = df_spain_comp.query('ccaa_iso.isin(@list_ccaa)', engine='python')
df_piv_spain = df_sub_ccaa\
    .pivot(index='fecha', columns='ccaa_iso', values='num_casos')
ax = df_piv_spain.loc['2020-06-15':].plot(figsize=(15,8),use_index=True, table=False, title='Casos por ccaa', legend=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## Normalidad provincias

In [14]:
    
df_spain_pr = pd.read_csv('https://cnecovid.isciii.es/covid19/resources/datos_provincias.csv' ,infer_datetime_format=True, error_bad_lines=False)

In [15]:
df_spain_pr = df_spain_pr.merge(right=df_pr_pob,left_on='provincia_iso', right_on='code')

df_spain_pr['casos_rel'] =df_spain_pr.num_casos / df_spain_pr.pob * 1e5

In [16]:
last_date = df_spain_pr.fecha.max()

df_spain_pr[df_spain_pr.fecha == last_date].sort_values(['casos_rel'],ascending=False)

,provincia_iso,fecha,num_casos,num_casos_prueba_pcr,num_casos_prueba_test_ac,num_casos_prueba_otras,num_casos_prueba_desconocida,code,pob,casos_rel
9064,Z,2020-08-02,283,283,0,0,0,Z,964693,29.335758
554,AL,2020-08-02,83,83,0,0,0,AL,716820,11.578918
7954,TE,2020-08-02,12,12,0,0,0,TE,134137,8.946078
1294,BI,2020-08-02,96,96,0,0,0,BI,1152651,8.328627
4439,L,2020-08-02,34,34,0,0,0,L,434930,7.817350
4069,HU,2020-08-02,15,15,0,0,0,HU,220461,6.803925
1479,BU,2020-08-02,21,21,0,0,0,BU,356958,5.883045
8879,VI,2020-08-02,19,19,0,0,0,VI,331549,5.730676
5179,M,2020-08-02,360,360,0,0,0,M,6663394,5.402652
6659,S,2020-08-02,21,18,0,0,3,S,581078,3.613973
924,B,2020-08-02,174,174,0,0,0,B,5664579,3.071720
7584,SS,2020-08-02,21,21,0,0,0,SS,723576,2.902252
8324,TO,2020-08-02,18,18,0,0,0,TO,694844,2.590510
6289,PM,2020-08-02,29,29,0,0,0,PM,1149460,2.522924
9249,ZA,2020-08-02,4,4,0,0,0,ZA,172539,2.318316
7769,T,2020-08-02,18,18,0,0,0,T,804664,2.236959
1109,BA,2020-08-02,15,15,0,0,0,BA,673559,2.226976
5549,MU,2020-08-02,32,32,0,0,0,MU,1493898,2.142047
3329,GI,2020-08-02,15,15,0,0,0,GI,771044,1.945414
3699,GU,2020-08-02,5,5,0,0,0,GU,257762,1.939774
6844,SA,2020-08-02,6,6,0,0,0,SA,330119,1.817526
2589,CR,2020-08-02,7,7,0,0,0,CR,495761,1.411971
8509,V,2020-08-02,36,36,0,0,0,V,2565124,1.403441
184,A,2020-08-02,25,25,0,0,0,A,1858683,1.345038
5364,MA,2020-08-02,21,21,0,0,0,MA,1661785,1.263701
6104,P,2020-08-02,2,2,0,0,0,P,160980,1.242390
2404,CO,2020-08-02,9,9,0,0,0,CO,782979,1.149456
7399,SO,2020-08-02,1,1,0,0,0,SO,88636,1.128210
4809,LO,2020-08-02,3,3,0,0,0,LO,316798,0.946976
3144,GC,2020-08-02,10,10,0,0,0,GC,1120406,0.892534
369,AB,2020-08-02,3,3,0,0,0,AB,388167,0.772863
2034,CC,2020-08-02,3,3,0,0,0,CC,394151,0.761130
2774,CS,2020-08-02,4,4,0,0,0,CS,579962,0.689700
7029,SE,2020-08-02,13,13,0,0,0,SE,1942389,0.669279
3514,GR,2020-08-02,6,6,0,0,0,GR,914678,0.655969
7214,SG,2020-08-02,1,1,0,0,0,SG,153129,0.653044
5919,OR,2020-08-02,2,2,0,0,0,OR,307651,0.650087
1849,CA,2020-08-02,8,8,0,0,0,CA,1240155,0.645081
4254,J,2020-08-02,4,4,0,0,0,J,633564,0.631349
4994,LU,2020-08-02,2,2,0,0,0,LU,329587,0.606820
8694,VA,2020-08-02,3,3,0,0,0,VA,519546,0.577427
1664,C,2020-08-02,6,6,0,0,0,C,1119596,0.535908
5734,O,2020-08-02,5,5,0,0,0,O,1022800,0.488854
6474,PO,2020-08-02,4,4,0,0,0,PO,942665,0.424329
8139,TF,2020-08-02,2,2,0,0,0,TF,1032983,0.193614
3884,H,2020-08-02,1,1,0,0,0,H,521870,0.191619
2959,CU,2020-08-02,0,0,0,0,0,CU,196329,0.000000
2219,CE,2020-08-02,0,0,0,0,0,CE,84777,0.000000
739,AV,2020-08-02,0,0,0,0,0,AV,157640,0.000000
4624,LE,2020-08-02,0,0,0,0,0,LE,460001,0.000000

In [17]:
list_pr3 = df_spain_pr[df_spain_pr.fecha == last_date].sort_values(['num_casos'],ascending=False).provincia_iso
print(list_pr3.iloc[0:9])
list_pr4 = list(list_pr3.iloc[2:10])

5179     M
9064     Z
924      B
1294    BI
554     AL
8509     V
4439     L
5549    MU
6289    PM
Name: provincia_iso, dtype: object

In [18]:
list_pr3 = df_spain_pr[df_spain_pr.fecha == last_date].sort_values(['num_casos'],ascending=False).provincia_iso

list_pr4 = list(list_pr3.iloc[0:5])
print(list_pr4)
list_pr = ['M', 'LU', 'SA', 'P']
df_sub_pr = df_spain_pr.query('provincia_iso.isin(@list_pr)', engine='python')
df_piv_pr = df_sub_pr\
    .pivot(index='fecha', columns='provincia_iso', values='num_casos')
ax = df_piv_pr.loc['2020-05-15':].plot(figsize=(15,8),use_index=True, table=False, title='Casos diarios por provincia', legend=True)

['M', 'Z', 'B', 'BI', 'AL']

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [19]:
list_pr3 = df_spain_pr[df_spain_pr.fecha == last_date].sort_values(['casos_rel'],ascending=False).provincia_iso

list_pr4 = list(list_pr3.iloc[0:8])
print(list_pr4)
list_pr = ['M', 'LU', 'SA', 'P']
df_sub_pr = df_spain_pr.query('provincia_iso.isin(@list_pr)', engine='python')
df_piv_pr = df_sub_pr\
    .pivot(index='fecha', columns='provincia_iso', values='casos_rel')
ax = df_piv_pr.loc['2020-05-15':].plot(figsize=(15,8),use_index=True, table=False, title='Casos diarios por provincia per capita 100.000 hab', legend=True)

['Z', 'AL', 'TE', 'BI', 'L', 'HU', 'BU', 'VI']

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [20]:
df_spain_pr

,provincia_iso,fecha,num_casos,num_casos_prueba_pcr,num_casos_prueba_test_ac,num_casos_prueba_otras,num_casos_prueba_desconocida,code,pob,casos_rel
0,A,2020-01-31,0,0,0,0,0,A,1858683,0.000000
1,A,2020-02-01,0,0,0,0,0,A,1858683,0.000000
2,A,2020-02-02,0,0,0,0,0,A,1858683,0.000000
3,A,2020-02-03,1,0,1,0,0,A,1858683,0.053802
4,A,2020-02-04,1,0,1,0,0,A,1858683,0.053802
...,...,...,...,...,...,...,...,...,...,...
9245,ZA,2020-07-29,3,3,0,0,0,ZA,172539,1.738737
9246,ZA,2020-07-30,8,8,0,0,0,ZA,172539,4.636633
9247,ZA,2020-07-31,3,3,0,0,0,ZA,172539,1.738737
9248,ZA,2020-08-01,3,3,0,0,0,ZA,172539,1.738737
9249,ZA,2020-08-02,4,4,0,0,0,ZA,172539,2.318316

## Situacion old

In [21]:
df_spain = pd.read_csv('https://covid19.isciii.es/resources/serie_historica_acumulados.csv',
                          encoding='cp1252', sep=',', parse_dates=['FECHA'], infer_datetime_format=True, error_bad_lines=False)

b'Skipping line 1739: expected 8 fields, saw 9\n'

In [22]:
df_spain = df_spain.dropna(thresh=4)
last_date = df_spain.FECHA.max()
last_date
df_spain[df_spain.FECHA == last_date]

,CCAA,FECHA,CASOS,PCR+,TestAc+,Hospitalizados,UCI,Fallecidos
1710,AN,2020-05-20,NaN,12547.0,3999.0,6210.0,766.0,1375.0
1711,AR,2020-05-20,NaN,5588.0,1751.0,2442.0,256.0,848.0
1712,AS,2020-05-20,NaN,2374.0,985.0,1089.0,121.0,307.0
1713,IB,2020-05-20,NaN,2024.0,107.0,1144.0,169.0,221.0
1714,CN,2020-05-20,NaN,2307.0,0.0,944.0,179.0,155.0
1715,CB,2020-05-20,NaN,2279.0,519.0,1036.0,79.0,209.0
1716,CM,2020-05-20,NaN,16789.0,8634.0,9138.0,639.0,2919.0
1717,CL,2020-05-20,NaN,18627.0,6291.0,8735.0,561.0,1960.0
1718,CT,2020-05-20,NaN,55888.0,1643.0,29497.0,2969.0,6021.0
1719,CE,2020-05-20,NaN,119.0,59.0,11.0,4.0,4.0
1720,VC,2020-05-20,NaN,10987.0,3810.0,5747.0,730.0,1383.0
1721,EX,2020-05-20,NaN,3042.0,1001.0,1780.0,110.0,505.0
1722,GA,2020-05-20,NaN,9077.0,2026.0,2943.0,334.0,608.0
1723,MD,2020-05-20,NaN,67049.0,5293.0,42497.0,3617.0,8931.0
1724,ML,2020-05-20,NaN,121.0,13.0,44.0,3.0,2.0
1725,MC,2020-05-20,NaN,1570.0,1039.0,680.0,112.0,149.0
1726,NC,2020-05-20,NaN,5195.0,3157.0,2048.0,136.0,506.0
1727,PV,2020-05-20,NaN,13421.0,5358.0,7032.0,578.0,1483.0
1728,RI,2020-05-20,NaN,4033.0,1395.0,1504.0,91.0,354.0

In [23]:
df_ccaa_isciii = pd.read_csv('https://raw.githubusercontent.com/datadista/datasets/master/COVID%2019/ccaa_covid19_datos_isciii.csv', parse_dates=['Fecha'])
fecha = df_ccaa_isciii.Fecha.max()
fecha
df_ccaa_isciii[df_ccaa_isciii.Fecha==fecha].sort_values(['Fallecidos'], ascending=False)

,Fecha,cod_ine,CCAA,Casos,PCR+,TestAc+,Hospitalizados,UCI,Fallecidos
1723,2020-05-20,13,Madrid,NaN,67049,5293.0,42497.0,3617.0,8931.0
1718,2020-05-20,9,Cataluña,NaN,55888,1643.0,29497.0,2969.0,6021.0
1716,2020-05-20,8,Castilla La Mancha,NaN,16789,8634.0,9138.0,639.0,2919.0
1717,2020-05-20,7,Castilla y León,NaN,18627,6291.0,8735.0,561.0,1960.0
1727,2020-05-20,16,País Vasco,NaN,13421,5358.0,7032.0,578.0,1483.0
1720,2020-05-20,10,C. Valenciana,NaN,10987,3810.0,5747.0,730.0,1383.0
1710,2020-05-20,1,Andalucía,NaN,12547,3999.0,6210.0,766.0,1375.0
1711,2020-05-20,2,Aragón,NaN,5588,1751.0,2442.0,256.0,848.0
1722,2020-05-20,12,Galicia,NaN,9077,2026.0,2943.0,334.0,608.0
1726,2020-05-20,15,Navarra,NaN,5195,3157.0,2048.0,136.0,506.0
1721,2020-05-20,11,Extremadura,NaN,3042,1001.0,1780.0,110.0,505.0
1728,2020-05-20,17,La Rioja,NaN,4033,1395.0,1504.0,91.0,354.0
1712,2020-05-20,3,Asturias,NaN,2374,985.0,1089.0,121.0,307.0
1713,2020-05-20,4,Baleares,NaN,2024,107.0,1144.0,169.0,221.0
1715,2020-05-20,6,Cantabria,NaN,2279,519.0,1036.0,79.0,209.0
1714,2020-05-20,5,Canarias,NaN,2307,0.0,944.0,179.0,155.0
1725,2020-05-20,14,Murcia,NaN,1570,1039.0,680.0,112.0,149.0
1719,2020-05-20,18,Ceuta,NaN,119,59.0,11.0,4.0,4.0
1724,2020-05-20,19,Melilla,NaN,121,13.0,44.0,3.0,2.0

In [24]:
df_ccaa_pcr = pd.read_csv('https://raw.githubusercontent.com/datadista/datasets/master/COVID%2019/ccaa_covid19_confirmados_pcr.csv')
df_ccaa_pcr

,cod_ine,CCAA,2020-02-21,2020-02-22,2020-02-23,2020-02-24,2020-02-25,2020-02-26,2020-02-27,2020-02-28,...,2020-05-15,2020-05-16,2020-05-17,2020-05-18,2020-05-19,2020-05-20,2020-05-21,2020-05-22,2020-05-23,2020-05-24
0,1,Andalucía,0,0,0,0,0,0,1,6,...,12401,12420,12450,12458,12489,12502,12547,12576,12597,12600
1,2,Aragón,0,0,0,0,0,0,0,0,...,5432,5456,5478,5503,5520,5551,5588,5618,5627,5646
2,3,Asturias,0,0,0,0,0,0,0,0,...,2364,2366,2366,2370,2373,2374,2374,2376,2377,2397
3,4,Baleares,1,1,1,1,1,1,1,1,...,1963,1980,1989,1991,2003,2016,2024,2037,2039,2041
4,5,Canarias,1,1,1,1,2,5,6,6,...,2280,2284,2289,2294,2294,2300,2307,2312,2321,2322
5,6,Cantabria,0,0,0,0,0,0,0,0,...,2263,2265,2268,2271,2273,2277,2279,2284,2287,2289
6,8,Castilla La Mancha,0,0,0,0,0,0,0,0,...,16513,16587,16618,16648,16677,16739,16789,16830,16855,16889
7,7,Castilla y León,0,0,0,0,0,0,0,2,...,18272,18369,18470,18512,18549,18586,18627,18674,18737,18789
8,9,Cataluña,0,0,0,0,0,1,2,3,...,55562,55685,55824,55921,55825,55888,55888,57036,57114,57148
9,18,Ceuta,0,0,0,0,0,0,0,0,...,116,116,116,116,117,119,119,124,125,124
10,10,C. Valenciana,0,0,0,0,0,1,2,8,...,10859,10885,10914,10926,10927,10949,10987,11021,11051,11073
11,11,Extremadura,0,0,0,0,0,0,0,0,...,2933,2944,2947,2948,3038,3040,3042,3044,3048,3047
12,12,Galicia,0,0,0,0,0,0,0,0,...,9036,9041,9051,9056,9058,9067,9077,9084,9098,9105
13,13,Madrid,1,1,1,1,1,2,6,10,...,66523,66639,66663,66702,66828,66967,67049,67425,67610,67871
14,19,Melilla,0,0,0,0,0,0,0,0,...,119,119,121,121,121,121,121,121,121,121
15,14,Murcia,0,0,0,0,0,0,0,0,...,1534,1542,1551,1556,1558,1560,1570,1572,1575,1579
16,15,Navarra,0,0,0,0,0,0,0,0,...,5116,5137,5148,5178,5183,5192,5195,5200,5205,5219
17,16,País Vasco,0,0,0,0,0,0,0,0,...,13332,13348,13364,13371,13386,13412,13421,13454,13467,13476
18,17,La Rioja,0,0,0,0,0,0,0,0,...,4016,4020,4024,4024,4027,4033,4033,4036,4036,4036

In [25]:
df_ccaa_pcr2 = pd.read_csv('https://raw.githubusercontent.com/datadista/datasets/master/COVID%2019/ccaa_covid19_casos_long.csv', parse_dates=['fecha'])
df_ccaa_pcr2
fecha = df_ccaa_pcr2.fecha.max()
fecha

Timestamp('2020-05-21 00:00:00')

### Situation in Madrid
Hay un mapa por area de salud
https://datos.comunidad.madrid/catalogo/dataset/covid19_tia_muni_y_distritos/resource/b2a3a3f9-1f82-42c2-89c7-cbd3ef801412

http://www.telemadrid.es/coronavirus-covid-19/mapa-madrid/ (por distritos)
http://www.telemadrid.es/coronavirus-covid-19/Barrio-Pilar-Prosperidad-afectadas-coronavirus-0-2224877514--20200422072016.html ( por área)

Datos por municipios - distritos

https://datos.comunidad.madrid/catalogo/dataset/covid19_tia_muni_y_distritos

Mapa

https://comunidadmadrid.maps.arcgis.com/apps/PublicInformation/index.html?appid=cdfb61b3eb3a49c2b990b4fdb41dfcfe

Datos por zonas basicas de salud
https://datos.comunidad.madrid/catalogo/dataset/covid19_tia_zonas_basicas_salud

Mapa
https://comunidadmadrid.maps.arcgis.com/apps/PublicInformation/index.html?appid=7db220dc2e0a40b4a928df661a89762e

Wiki 
en
https://en.wikipedia.org/wiki/COVID-19_pandemic_in_the_Community_of_Madrid

Los datos son semanales apartir del 2 de julio
https://datos.comunidad.madrid/catalogo/dataset/b3d55e40-8263-4c0b-827d-2bb23b5e7bab/resource/43708c23-2b77-48fd-9986-fa97691a2d59/download/covid19_tia_zonas_basicas_salud_s.csv

### datos semanales

In [26]:
# datos semanales
df_zb_madrid = pd.read_csv('http://datos.comunidad.madrid/catalogo/dataset/b3d55e40-8263-4c0b-827d-2bb23b5e7bab/resource/43708c23-2b77-48fd-9986-fa97691a2d59/download/covid19_tia_zonas_basicas_salud_s.csv',
                          encoding='cp1252', sep=';', parse_dates=['fecha_informe'], decimal= ',')  
max_date = df_zb_madrid.fecha_informe.max()
max_date

Timestamp('2020-08-04 09:58:00')

In [27]:
df_zb_madrid[df_zb_madrid.fecha_informe == max_date].sort_values(['tasa_incidencia_acumulada_activos_ultimos_14dias'], ascending=False).head(40)

,zona_basica_salud,fecha_informe,casos_confirmados_activos_ultimos_14dias,tasa_incidencia_acumulada_activos_ultimos_14dias,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
91,Felipe II,2020-08-04 09:58:00,28.0,136.13,54.0,262.53,289,1405.03,092
5,Alcalde Bartolomé González,2020-08-04 09:58:00,27.0,125.72,54.0,251.43,302,1406.16,006
30,Brújula,2020-08-04 09:58:00,25.0,121.84,38.0,185.19,261,1271.99,031
11,Almendrales,2020-08-04 09:58:00,26.0,120.86,47.0,218.48,271,1259.76,012
202,Peña Prieta,2020-08-04 09:58:00,20.0,116.37,36.0,209.46,314,1826.96,203
94,Fuente el Saz,2020-08-04 09:58:00,21.0,106.22,45.0,227.62,186,940.82,095
231,San Andrés,2020-08-04 09:58:00,24.0,102.37,43.0,183.42,315,1343.63,232
233,San Cristóbal,2020-08-04 09:58:00,21.0,101.67,34.0,164.60,237,1147.37,234
126,La Princesa,2020-08-04 09:58:00,19.0,95.77,24.0,120.97,225,1134.13,127
78,El Naranjo,2020-08-04 09:58:00,20.0,91.69,36.0,165.04,228,1045.25,079
247,Segovia,2020-08-04 09:58:00,20.0,87.91,31.0,136.26,256,1125.23,248
285,Zofío,2020-08-04 09:58:00,26.0,82.63,54.0,171.61,420,1334.73,286
160,Martín de Vargas,2020-08-04 09:58:00,13.0,75.01,22.0,126.94,210,1211.70,161
7,Alcobendas - Chopera,2020-08-04 09:58:00,20.0,72.56,30.0,108.84,222,805.43,008
187,Opañel,2020-08-04 09:58:00,14.0,72.21,27.0,139.26,328,1691.77,188
60,Cortes,2020-08-04 09:58:00,19.0,72.10,27.0,102.46,293,1111.87,061
132,Las Calesas,2020-08-04 09:58:00,19.0,71.92,42.0,158.98,389,1472.43,133
238,San Juan de la Cruz,2020-08-04 09:58:00,17.0,68.11,29.0,116.20,347,1390.34,239
102,General Ricardos,2020-08-04 09:58:00,19.0,67.40,33.0,117.06,406,1440.18,103
92,Francia,2020-08-04 09:58:00,23.0,67.02,38.0,110.73,402,1171.43,093
134,Las Fronteras,2020-08-04 09:58:00,22.0,66.64,41.0,124.19,365,1105.56,135
161,Martínez de la Riva,2020-08-04 09:58:00,11.0,65.86,24.0,143.70,216,1293.26,162
16,Antonio Leyva,2020-08-04 09:58:00,9.0,65.79,17.0,124.28,131,957.67,017
234,San Diego,2020-08-04 09:58:00,16.0,61.97,34.0,131.70,413,1599.72,235
152,Lucero,2020-08-04 09:58:00,24.0,61.48,36.0,92.22,641,1641.99,153
3,Alameda,2020-08-04 09:58:00,13.0,61.11,17.0,79.91,199,935.41,004
49,Chopera,2020-08-04 09:58:00,19.0,60.52,33.0,105.12,452,1439.77,050
157,Maqueda,2020-08-04 09:58:00,16.0,59.03,27.0,99.61,414,1527.39,158
96,Galapagar,2020-08-04 09:58:00,25.0,58.31,59.0,137.62,416,970.33,097
8,Alcocer,2020-08-04 09:58:00,10.0,58.18,27.0,157.08,238,1384.61,009
213,Presentación Sabio,2020-08-04 09:58:00,13.0,58.15,29.0,129.72,258,1154.10,214
25,Barcelona,2020-08-04 09:58:00,12.0,57.26,18.0,85.89,218,1040.23,026
181,Méndez Álvaro,2020-08-04 09:58:00,5.0,55.59,5.0,55.59,72,800.53,182
76,El Juncal,2020-08-04 09:58:00,15.0,55.39,23.0,84.93,288,1063.44,077
235,San Fermín,2020-08-04 09:58:00,13.0,54.87,25.0,105.51,292,1232.38,236
81,El Soto,2020-08-04 09:58:00,11.0,54.30,24.0,118.48,341,1683.45,082
22,Argüelles,2020-08-04 09:58:00,13.0,53.94,19.0,78.83,299,1240.61,023
206,Pintores,2020-08-04 09:58:00,13.0,53.83,16.0,66.26,185,766.08,207
185,Numancia,2020-08-04 09:58:00,13.0,53.54,20.0,82.37,428,1762.70,186
66,Dos de Mayo,2020-08-04 09:58:00,17.0,53.28,53.0,166.10,491,1538.75,067

In [28]:
df_zb_madrid[df_zb_madrid.fecha_informe == max_date].sort_values(['tasa_incidencia_acumulada_ultimos_14dias'], ascending=False).head(10)

,zona_basica_salud,fecha_informe,casos_confirmados_activos_ultimos_14dias,tasa_incidencia_acumulada_activos_ultimos_14dias,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
91,Felipe II,2020-08-04 09:58:00,28.0,136.13,54.0,262.53,289,1405.03,092
5,Alcalde Bartolomé González,2020-08-04 09:58:00,27.0,125.72,54.0,251.43,302,1406.16,006
94,Fuente el Saz,2020-08-04 09:58:00,21.0,106.22,45.0,227.62,186,940.82,095
11,Almendrales,2020-08-04 09:58:00,26.0,120.86,47.0,218.48,271,1259.76,012
202,Peña Prieta,2020-08-04 09:58:00,20.0,116.37,36.0,209.46,314,1826.96,203
30,Brújula,2020-08-04 09:58:00,25.0,121.84,38.0,185.19,261,1271.99,031
231,San Andrés,2020-08-04 09:58:00,24.0,102.37,43.0,183.42,315,1343.63,232
285,Zofío,2020-08-04 09:58:00,26.0,82.63,54.0,171.61,420,1334.73,286
66,Dos de Mayo,2020-08-04 09:58:00,17.0,53.28,53.0,166.10,491,1538.75,067
78,El Naranjo,2020-08-04 09:58:00,20.0,91.69,36.0,165.04,228,1045.25,079

In [29]:

list_zb = ['Silvano', 'Benita de Ávila', 'Mar Báltico', 'La Plata', 'Alcocer', 'La Cabrera','Gandhi']
df_sub = df_zb_madrid.query('zona_basica_salud.isin(@list_zb)', engine='python')
df_sub.sort_values(['fecha_informe'], ascending=False)

,zona_basica_salud,fecha_informe,casos_confirmados_activos_ultimos_14dias,tasa_incidencia_acumulada_activos_ultimos_14dias,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
8,Alcocer,2020-08-04 09:58:00,10.0,58.18,27.0,157.08,238,1384.61,009
97,Gandhi,2020-08-04 09:58:00,NaN,15.37,11.0,56.36,281,1439.70,098
120,La Cabrera,2020-08-04 09:58:00,NaN,13.91,NaN,13.91,45,625.87,121
125,La Plata,2020-08-04 09:58:00,12.0,40.77,22.0,74.75,209,710.16,126
158,Mar Báltico,2020-08-04 09:58:00,21.0,32.92,36.0,56.44,740,1160.07,159
...,...,...,...,...,...,...,...,...,...
2957,Gandhi,2020-05-26 07:00:00,NaN,15.37,NaN,25.62,232,1188.65,098
2980,La Cabrera,2020-05-26 07:00:00,NaN,0.00,NaN,41.72,39,542.42,121
2985,La Plata,2020-05-26 07:00:00,NaN,3.40,14.0,47.57,165,560.65,126
3018,Mar Báltico,2020-05-26 07:00:00,6.0,9.41,13.0,20.38,654,1025.26,159
3111,Silvano,2020-05-26 07:00:00,NaN,7.34,16.0,39.16,357,873.67,252

In [30]:

df_sub.sort_values(['fecha_informe'], ascending=False)

,zona_basica_salud,fecha_informe,casos_confirmados_activos_ultimos_14dias,tasa_incidencia_acumulada_activos_ultimos_14dias,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
8,Alcocer,2020-08-04 09:58:00,10.0,58.18,27.0,157.08,238,1384.61,009
97,Gandhi,2020-08-04 09:58:00,NaN,15.37,11.0,56.36,281,1439.70,098
120,La Cabrera,2020-08-04 09:58:00,NaN,13.91,NaN,13.91,45,625.87,121
125,La Plata,2020-08-04 09:58:00,12.0,40.77,22.0,74.75,209,710.16,126
158,Mar Báltico,2020-08-04 09:58:00,21.0,32.92,36.0,56.44,740,1160.07,159
...,...,...,...,...,...,...,...,...,...
2957,Gandhi,2020-05-26 07:00:00,NaN,15.37,NaN,25.62,232,1188.65,098
2980,La Cabrera,2020-05-26 07:00:00,NaN,0.00,NaN,41.72,39,542.42,121
2985,La Plata,2020-05-26 07:00:00,NaN,3.40,14.0,47.57,165,560.65,126
3018,Mar Báltico,2020-05-26 07:00:00,6.0,9.41,13.0,20.38,654,1025.26,159
3111,Silvano,2020-05-26 07:00:00,NaN,7.34,16.0,39.16,357,873.67,252

In [31]:
list_zb = ['Silvano', 'Benita de Ávila', 'Mar Báltico', 'La Plata', 'Alcocer', 'La Cabrera','Gandhi']
list_zb = ['Silvano', 'Benita de Ávila', 'Mar Báltico', 'La Plata','Miraflores']
df_sub = df_zb_madrid.query('zona_basica_salud.isin(@list_zb)', engine='python')
df_piv = df_sub[['zona_basica_salud','fecha_informe', 'tasa_incidencia_acumulada_activos_ultimos_14dias']].drop_duplicates()\
    .pivot(index='fecha_informe', columns='zona_basica_salud', values='tasa_incidencia_acumulada_activos_ultimos_14dias')
ax = df_piv.loc['2020-05-01':].plot(figsize=(15,8),use_index=True, table=False, title='tasa incidencia acumulada activos 14dias  (Casos confirmados por 100.000 habitantes)semanal', legend=True)
#ax.set(ylabel='pob', xlim=(2000, 2019))
#ax.xaxis.set_major_locator(plt.MaxNLocator(20))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [32]:
list_zb = ['Silvano', 'Benita de Ávila', 'Mar Báltico', 'La Plata', 'Alcocer', 'La Cabrera','Gandhi']
list_zb = ['Silvano', 'Benita de Ávila', 'Mar Báltico', 'La Plata','Miraflores']
df_sub = df_zb_madrid.query('zona_basica_salud.isin(@list_zb)', engine='python')
df_piv = df_sub[['zona_basica_salud','fecha_informe', 'tasa_incidencia_acumulada_ultimos_14dias']].drop_duplicates()\
    .pivot(index='fecha_informe', columns='zona_basica_salud', values='tasa_incidencia_acumulada_ultimos_14dias')
ax = df_piv.loc['2020-05-01':].plot(figsize=(15,8),use_index=True, table=False, title='tasa incidencia acumulada 14dias  (Casos confirmados por 100.000 habitantes)semanal', legend=True)
#ax.set(ylabel='pob', xlim=(2000, 2019))
#ax.xaxis.set_major_locator(plt.MaxNLocator(20))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

### Datos diarios old

In [33]:
df_zb_madrid = pd.read_csv('http://datos.comunidad.madrid/catalogo/dataset/b3d55e40-8263-4c0b-827d-2bb23b5e7bab/resource/b7b9edb4-0c70-47d3-9c64-8c4913830a24/download/covid19_tia_zonas_basicas_salud.csv',
                          encoding='cp1252', sep=';', parse_dates=['fecha_informe'], decimal= ',')

In [34]:
max_date = df_zb_madrid.fecha_informe.max()
max_date

Timestamp('2020-07-01 09:00:00')

In [35]:
df_zb_madrid[df_zb_madrid.fecha_informe == max_date].sort_values(['tasa_incidencia_acumulada_ultimos_14dias'], ascending=False).head(10)

,zona_basica_salud,fecha_informe,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
8,Alcocer,2020-07-01 09:00:00,14.0,81.45,211.0,1227.53,9
120,La Cabrera,2020-07-01 09:00:00,NaN,69.54,44.0,611.96,121
97,Gandhi,2020-07-01 09:00:00,13.0,66.61,260.0,1332.10,98
81,El Soto,2020-07-01 09:00:00,13.0,64.18,302.0,1490.92,82
46,Castilla la Nueva,2020-07-01 09:00:00,13.0,55.61,234.0,1001.03,47
141,Leganés Norte,2020-07-01 09:00:00,7.0,54.75,317.0,2479.27,142
202,Peña Prieta,2020-07-01 09:00:00,8.0,46.55,269.0,1565.14,203
149,Los Pedroches,2020-07-01 09:00:00,10.0,45.90,483.0,2216.92,150
260,Valdebernardo,2020-07-01 09:00:00,7.0,44.12,299.0,1884.41,261
103,Getafe Norte,2020-07-01 09:00:00,NaN,43.20,123.0,1062.63,104

In [36]:
list_zb = ['Silvano', 'Benita de Ávila', 'Mar Báltico', 'La Plata', 'Castelló', 'General Oráa']
list_zb = ['Silvano', 'Benita de Ávila', 'Mar Báltico', 'La Plata']
list_zb = ['Silvano', 'Benita de Ávila', 'Mar Báltico', 'La Plata', 'Alcocer', 'La Cabrera','Gandhi']

In [37]:
#{'backfill', 'bfill', 'pad', 'ffill', None}
df_zb_madrid.fillna( method='bfill')

,zona_basica_salud,fecha_informe,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
0,Abrantes,2020-07-01 09:00:00,10.0,3.25,312.0,1014.70,1
1,Acacias,2020-07-01 09:00:00,10.0,5.15,237.0,1219.64,2
2,Adelfas,2020-07-01 09:00:00,10.0,34.28,437.0,1498.22,3
3,Alameda,2020-07-01 09:00:00,7.0,4.70,180.0,846.10,4
4,Alameda de Osuna,2020-07-01 09:00:00,7.0,24.14,302.0,1041.34,5
...,...,...,...,...,...,...,...
36317,Virgen de Begoña,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,282
36318,Virgen del Cortijo,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,283
36319,Virgen del Val,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,284
36320,Vista Alegre,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,285
36321,Zofío,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,286

In [38]:
df_sub = df_zb_madrid.query('zona_basica_salud.isin(@list_zb)', engine='python')

In [39]:
df_sub.fillna(method='bfill', axis=0)

,zona_basica_salud,fecha_informe,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
8,Alcocer,2020-07-01 09:00:00,14.0,81.45,211.0,1227.53,9
28,Benita de Ávila,2020-07-01 09:00:00,13.0,0.00,251.0,1292.22,29
97,Gandhi,2020-07-01 09:00:00,13.0,66.61,260.0,1332.10,98
120,La Cabrera,2020-07-01 09:00:00,14.0,69.54,44.0,611.96,121
125,La Plata,2020-07-01 09:00:00,14.0,6.80,177.0,601.43,126
...,...,...,...,...,...,...,...
36133,Gandhi,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,98
36156,La Cabrera,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,121
36161,La Plata,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,126
36194,Mar Báltico,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,159
36287,Silvano,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,252

In [40]:
#df_sub = df_sub.fillna(value=0, axis=0)
df_sub.sort_values(['fecha_informe'], ascending=False)

,zona_basica_salud,fecha_informe,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
8,Alcocer,2020-07-01 09:00:00,14.0,81.45,211.0,1227.53,9
97,Gandhi,2020-07-01 09:00:00,13.0,66.61,260.0,1332.10,98
120,La Cabrera,2020-07-01 09:00:00,NaN,69.54,44.0,611.96,121
125,La Plata,2020-07-01 09:00:00,NaN,6.80,177.0,601.43,126
158,Mar Báltico,2020-07-01 09:00:00,NaN,4.70,678.0,1062.88,159
...,...,...,...,...,...,...,...
36133,Gandhi,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,98
36156,La Cabrera,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,121
36161,La Plata,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,126
36194,Mar Báltico,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,159
36287,Silvano,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,252

In [41]:
df_piv = df_sub[['zona_basica_salud','fecha_informe', 'tasa_incidencia_acumulada_ultimos_14dias']].drop_duplicates()\
    .pivot(index='fecha_informe', columns='zona_basica_salud', values='tasa_incidencia_acumulada_ultimos_14dias')


df_piv = df_piv.drop([pd.to_datetime('2020-05-09 07:00:00')])
df_piv.tail(60)

zona_basica_salud,Alcocer,Benita de Ávila,Gandhi,La Cabrera,La Plata,Mar Báltico,Silvano
fecha_informe,,,,,,,
2020-05-02 07:00:00,98.90,46.33,97.35,13.91,27.18,67.41,70.97
2020-05-03 07:00:00,98.90,36.04,92.22,13.91,27.18,59.57,70.97
2020-05-04 07:00:00,87.27,36.04,81.98,13.91,23.79,53.30,68.52
2020-05-05 07:00:00,81.45,25.74,76.85,13.91,33.98,48.60,63.63
2020-05-06 07:00:00,69.81,30.89,81.98,13.91,33.98,42.33,53.84
2020-05-07 07:00:00,81.45,25.74,87.10,13.91,27.18,31.35,46.50
2020-05-08 07:00:00,75.63,25.74,71.73,13.91,44.17,28.22,48.95
2020-05-10 07:00:00,58.18,15.44,51.23,0.00,44.17,25.08,36.71
2020-05-11 07:00:00,58.18,15.44,46.11,0.00,44.17,18.81,34.26
2020-05-12 07:00:00,52.36,15.44,35.86,0.00,44.17,17.24,14.68
2020-05-13 07:00:00,52.36,10.30,25.62,0.00,40.77,18.81,9.79
2020-05-14 07:00:00,58.18,15.44,30.74,0.00,50.97,15.68,7.34
2020-05-15 07:00:00,52.36,20.59,35.86,0.00,71.36,15.68,9.79
2020-05-16 07:00:00,63.99,25.74,35.86,13.91,67.96,18.81,14.68
2020-05-17 07:00:00,69.81,25.74,35.86,13.91,67.96,18.81,17.13
2020-05-18 07:00:00,69.81,25.74,35.86,13.91,64.56,18.81,17.13
2020-05-19 07:00:00,34.91,25.74,30.74,13.91,64.56,18.81,17.13
2020-05-20 07:00:00,46.54,15.44,35.86,13.91,61.16,17.24,17.13
2020-05-21 07:00:00,40.72,25.74,25.62,27.82,64.56,21.95,22.03
2020-05-22 07:00:00,40.72,25.74,25.62,27.82,47.57,21.95,24.47
2020-05-23 07:00:00,40.72,25.74,25.62,27.82,44.17,18.81,24.47
2020-05-24 07:00:00,34.91,25.74,30.74,27.82,44.17,18.81,34.26
2020-05-25 07:00:00,34.91,25.74,30.74,27.82,44.17,18.81,36.71
2020-05-26 07:00:00,40.72,30.89,30.74,41.72,40.77,18.81,31.81
2020-05-27 07:00:00,40.72,30.89,15.37,41.72,27.18,18.81,31.81
2020-05-28 07:00:00,34.91,20.59,15.37,41.72,10.19,18.81,36.71
2020-05-29 07:00:00,23.27,20.59,20.49,41.72,6.80,18.81,29.37
2020-05-30 07:00:00,11.64,15.44,20.49,27.82,6.80,18.81,29.37
2020-05-31 07:00:00,5.82,15.44,20.49,27.82,6.80,18.81,29.37
2020-06-01 07:00:00,5.82,15.44,20.49,27.82,6.80,18.81,31.81
2020-06-02 07:00:00,0.00,15.44,25.62,27.82,13.59,20.38,34.26
2020-06-03 07:00:00,5.82,15.44,25.62,13.91,20.39,23.52,31.81
2020-06-04 07:00:00,5.82,10.30,35.86,13.91,13.59,20.38,26.92
2020-06-05 07:00:00,5.82,10.30,51.23,13.91,16.99,23.52,24.47
2020-06-06 07:00:00,5.82,10.30,56.36,13.91,16.99,21.95,24.47
2020-06-07 07:00:00,5.82,5.15,51.23,13.91,16.99,21.95,19.58
2020-06-08 07:00:00,5.82,5.15,51.23,0.00,20.39,21.95,19.58
2020-06-09 07:00:00,11.64,5.15,51.23,0.00,20.39,20.38,22.03
2020-06-10 07:00:00,11.64,5.15,40.99,0.00,16.99,17.24,17.13
2020-06-11 07:00:00,11.64,5.15,35.86,0.00,16.99,17.24,17.13
2020-06-12 07:00:00,11.64,10.30,46.11,0.00,16.99,17.24,19.58
2020-06-13 07:00:00,11.64,10.30,46.11,0.00,23.79,17.24,22.03
2020-06-14 07:00:00,17.45,10.30,46.11,0.00,16.99,17.24,24.47
2020-06-15 07:00:00,17.45,10.30,46.11,0.00,13.59,18.81,22.03
2020-06-16 07:00:00,17.45,5.15,40.99,0.00,10.19,12.54,14.68
2020-06-17 07:00:00,11.64,5.15,25.62,0.00,13.59,7.84,14.68
2020-06-18 07:00:00,11.64,5.15,0.00,0.00,10.19,6.27,14.68
2020-06-19 07:00:00,11.64,5.15,0.00,0.00,13.59,7.84,12.24
2020-06-20 07:00:00,11.64,5.15,0.00,55.63,13.59,9.41,12.24
2020-06-21 07:00:00,11.64,5.15,0.00,55.63,13.59,9.41,12.24
2020-06-22 07:00:00,11.64,5.15,0.00,55.63,13.59,9.41,9.79
2020-06-23 07:00:00,34.91,5.15,0.00,55.63,16.99,9.41,9.79
2020-06-24 07:00:00,40.72,5.15,0.00,55.63,16.99,9.41,9.79
2020-06-25 07:00:00,58.18,5.15,0.00,55.63,16.99,7.84,9.79
2020-06-26 07:00:00,63.99,5.15,5.12,55.63,16.99,7.84,9.79
2020-06-27 07:00:00,81.45,5.15,66.61,55.63,6.80,7.84,4.89
2020-06-28 07:00:00,81.45,5.15,66.61,55.63,6.80,7.84,4.89
2020-06-29 07:00:00,81.45,5.15,66.61,55.63,6.80,6.27,4.89
2020-06-30 07:00:00,81.45,0.00,66.61,69.54,6.80,6.27,4.89
2020-07-01 09:00:00,81.45,0.00,66.61,69.54,6.80,4.70,2.45

In [42]:
ax = df_piv.loc['2020-05-01':].plot(figsize=(15,8),use_index=True, table=False, title='tasa incidencia acumulada 14dias  (Casos confirmados por 100.000 habitantes)', legend=True)
#ax.set(ylabel='pob', xlim=(2000, 2019))
#ax.xaxis.set_major_locator(plt.MaxNLocator(20))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [43]:

df_piv = df_sub[['zona_basica_salud','fecha_informe', 'tasa_incidencia_acumulada_total']].drop_duplicates()\
    .pivot(index='fecha_informe', columns='zona_basica_salud', values='tasa_incidencia_acumulada_total')


ax = df_piv.loc['2020-05-01':].plot(figsize=(15,8),use_index=True, table=False, title='tasa incidencia acumulada total', legend=True)
#ax.set(ylabel='pob', xlim=(2000, 2019))
#ax.xaxis.set_major_locator(plt.MaxNLocator(20))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [44]:

df_sub[df_sub.zona_basica_salud=='Silvano'].sort_values(['fecha_informe'], ascending=False)

,zona_basica_salud,fecha_informe,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
251,Silvano,2020-07-01 09:00:00,NaN,2.45,368.0,900.59,252
537,Silvano,2020-06-30 07:00:00,NaN,4.89,365.0,893.25,252
823,Silvano,2020-06-29 07:00:00,NaN,4.89,362.0,885.91,252
1109,Silvano,2020-06-28 07:00:00,NaN,4.89,360.0,881.01,252
1395,Silvano,2020-06-27 07:00:00,NaN,4.89,358.0,876.12,252
...,...,...,...,...,...,...,...
35143,Silvano,2020-03-01 07:00:00,NaN,0.00,NaN,0.00,252
35429,Silvano,2020-02-29 07:00:00,NaN,0.00,NaN,0.00,252
35715,Silvano,2020-02-28 07:00:00,NaN,0.00,NaN,0.00,252
36001,Silvano,2020-02-27 07:00:00,NaN,0.00,NaN,0.00,252
36287,Silvano,2020-02-26 07:00:00,NaN,0.00,NaN,0.00,252

## Situation in municipality of madrid by districts and municiply

Datos por municipios - distritos

https://datos.comunidad.madrid/catalogo/dataset/covid19_tia_muni_y_distritos

Mapa

https://comunidadmadrid.maps.arcgis.com/apps/PublicInformation/index.html?appid=cdfb61b3eb3a49c2b990b4fdb41dfcfe

In [45]:
url = 'http://datos.comunidad.madrid/catalogo/dataset/7da43feb-8d4d-47e0-abd5-3d022d29d09e/resource/f22c3f43-c5d0-41a4-96dc-719214d56968/download/covid19_tia_muni_y_distritos_s.csv'
df_mn_madrid =  pd.read_csv(url,
                          encoding='cp1252', sep=';', parse_dates=['fecha_informe'], decimal= ',')

In [46]:
last_date = df_mn_madrid.fecha_informe.max()
df_mn_madrid[df_mn_madrid.fecha_informe== last_date].sort_values(['tasa_incidencia_acumulada_ultimos_14dias'], ascending=False).head(20)
df_mn_madrid[df_mn_madrid.fecha_informe== last_date].sort_values(['tasa_incidencia_acumulada_activos_ultimos_14dias'], ascending=False).head(20)

,municipio_distrito,fecha_informe,casos_confirmados_activos_ultimos_14dias,tasa_incidencia_acumulada_activos_ultimos_14dias,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
94,Fuente el Saz de Jarama,2020-08-04 09:58:00,20.0,298.69,44.0,657.11,88.0,1314.22,590.0
39,Cabanillas de la Sierra,2020-08-04 09:58:00,NaN,132.28,NaN,132.28,11.0,1455.03,297.0
28,Pozuelo del Rey,2020-08-04 09:58:00,NaN,87.18,NaN,87.18,5.0,435.92,1163.0
82,Cubas de la Sagra,2020-08-04 09:58:00,5.0,77.97,7.0,109.15,44.0,686.11,506.0
67,Galapagar,2020-08-04 09:58:00,24.0,71.13,58.0,171.89,362.0,1072.85,611.0
11,Madrid-Usera,2020-08-04 09:58:00,99.0,70.85,190.0,135.97,1730.0,1238.00,79612.0
79,Móstoles,2020-08-04 09:58:00,147.0,70.27,302.0,144.37,2724.0,1302.20,920.0
102,Valdilecha,2020-08-04 09:58:00,NaN,68.19,NaN,68.19,28.0,954.65,1659.0
50,Navacerrada,2020-08-04 09:58:00,NaN,67.29,NaN,100.94,26.0,874.83,936.0
122,Meco,2020-08-04 09:58:00,9.0,62.92,12.0,83.89,160.0,1118.49,838.0
184,Torrejón de Ardoz,2020-08-04 09:58:00,79.0,60.13,139.0,105.80,1329.0,1011.60,1489.0
154,Quijorna,2020-08-04 09:58:00,NaN,58.16,NaN,58.16,37.0,1075.89,1198.0
18,Madrid-Villaverde,2020-08-04 09:58:00,84.0,56.40,172.0,115.48,1812.0,1216.55,79617.0
2,Madrid-Centro,2020-08-04 09:58:00,76.0,56.36,113.0,83.80,1466.0,1087.15,79601.0
132,Casarrubuelos,2020-08-04 09:58:00,NaN,52.94,NaN,105.88,16.0,423.50,360.0
71,Carabaña,2020-08-04 09:58:00,NaN,49.75,NaN,49.75,15.0,746.27,357.0
40,Cenicientos,2020-08-04 09:58:00,NaN,49.19,NaN,49.19,39.0,1918.35,376.0
36,Nuevo Baztán,2020-08-04 09:58:00,NaN,47.80,NaN,63.73,39.0,621.41,1006.0
59,Fuenlabrada,2020-08-04 09:58:00,92.0,47.50,171.0,88.28,1957.0,1010.33,587.0
3,Madrid-Arganzuela,2020-08-04 09:58:00,73.0,47.46,139.0,90.38,1969.0,1280.21,79602.0

### Situation old daily

In [47]:
url = 'http://datos.comunidad.madrid/catalogo/dataset/7da43feb-8d4d-47e0-abd5-3d022d29d09e/resource/b2a3a3f9-1f82-42c2-89c7-cbd3ef801412/download/covid19_tia_muni_y_distritos.csv'
df_mn_madrid_old =  pd.read_csv(url,
                          encoding='cp1252', sep=';')

In [48]:

    
df_mn_madrid_old =  pd.read_csv('http://datos.comunidad.madrid/catalogo/dataset/7da43feb-8d4d-47e0-abd5-3d022d29d09e/resource/b2a3a3f9-1f82-42c2-89c7-cbd3ef801412/download/covid19_tia_muni_y_distritos.csv',
                          encoding='cp1252', sep=';', parse_dates=['fecha_informe'], decimal= ',')

In [49]:
df_mn_madrid.dtypes

municipio_distrito                                          object
fecha_informe                                       datetime64[ns]
casos_confirmados_activos_ultimos_14dias                   float64
tasa_incidencia_acumulada_activos_ultimos_14dias           float64
casos_confirmados_ultimos_14dias                           float64
tasa_incidencia_acumulada_ultimos_14dias                   float64
casos_confirmados_totales                                  float64
tasa_incidencia_acumulada_total                            float64
codigo_geometria                                           float64
dtype: object

In [50]:
last_date = df_mn_madrid.fecha_informe.max()
df_mn_madrid[df_mn_madrid.fecha_informe== last_date].sort_values(['tasa_incidencia_acumulada_ultimos_14dias'], ascending=False).head(20)

,municipio_distrito,fecha_informe,casos_confirmados_activos_ultimos_14dias,tasa_incidencia_acumulada_activos_ultimos_14dias,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
146,La Serna del Monte,2020-08-04 09:58:00,NaN,0.00,NaN,1234.57,NaN,1234.57,1381.0
94,Fuente el Saz de Jarama,2020-08-04 09:58:00,20.0,298.69,44.0,657.11,88.0,1314.22,590.0
67,Galapagar,2020-08-04 09:58:00,24.0,71.13,58.0,171.89,362.0,1072.85,611.0
79,Móstoles,2020-08-04 09:58:00,147.0,70.27,302.0,144.37,2724.0,1302.20,920.0
11,Madrid-Usera,2020-08-04 09:58:00,99.0,70.85,190.0,135.97,1730.0,1238.00,79612.0
39,Cabanillas de la Sierra,2020-08-04 09:58:00,NaN,132.28,NaN,132.28,11.0,1455.03,297.0
58,Becerril de la Sierra,2020-08-04 09:58:00,NaN,35.00,7.0,122.51,43.0,752.54,186.0
18,Madrid-Villaverde,2020-08-04 09:58:00,84.0,56.40,172.0,115.48,1812.0,1216.55,79617.0
82,Cubas de la Sagra,2020-08-04 09:58:00,5.0,77.97,7.0,109.15,44.0,686.11,506.0
132,Casarrubuelos,2020-08-04 09:58:00,NaN,52.94,NaN,105.88,16.0,423.50,360.0
184,Torrejón de Ardoz,2020-08-04 09:58:00,79.0,60.13,139.0,105.80,1329.0,1011.60,1489.0
50,Navacerrada,2020-08-04 09:58:00,NaN,67.29,NaN,100.94,26.0,874.83,936.0
3,Madrid-Arganzuela,2020-08-04 09:58:00,73.0,47.46,139.0,90.38,1969.0,1280.21,79602.0
59,Fuenlabrada,2020-08-04 09:58:00,92.0,47.50,171.0,88.28,1957.0,1010.33,587.0
12,Madrid-Puente de Vallecas,2020-08-04 09:58:00,110.0,46.84,205.0,87.29,3668.0,1561.80,79613.0
28,Pozuelo del Rey,2020-08-04 09:58:00,NaN,87.18,NaN,87.18,5.0,435.92,1163.0
175,Majadahonda,2020-08-04 09:58:00,30.0,41.77,61.0,84.93,722.0,1005.21,800.0
122,Meco,2020-08-04 09:58:00,9.0,62.92,12.0,83.89,160.0,1118.49,838.0
2,Madrid-Centro,2020-08-04 09:58:00,76.0,56.36,113.0,83.80,1466.0,1087.15,79601.0
118,Hoyo de Manzanares,2020-08-04 09:58:00,NaN,11.86,7.0,83.00,52.0,616.55,724.0

#### Situation in Hortaleza

In [51]:
last_date = df_mn_madrid.fecha_informe.max()
df_mn_madrid[df_mn_madrid.fecha_informe== last_date].sort_values(['tasa_incidencia_acumulada_total'], ascending=False).head(20)

,municipio_distrito,fecha_informe,casos_confirmados_activos_ultimos_14dias,tasa_incidencia_acumulada_activos_ultimos_14dias,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
193,La Hiruela,2020-08-04 09:58:00,NaN,0.00,NaN,0.00,NaN,3508.77,698.0
183,Colmenar del Arroyo,2020-08-04 09:58:00,NaN,0.00,NaN,0.00,54.0,3130.43,421.0
171,Patones,2020-08-04 09:58:00,NaN,0.00,NaN,0.00,16.0,2957.49,1071.0
55,Navas del Rey,2020-08-04 09:58:00,NaN,0.00,NaN,68.54,85.0,2912.95,992.0
95,Horcajo de la Sierra-Aoslos,2020-08-04 09:58:00,NaN,0.00,NaN,0.00,NaN,2758.62,702.0
124,Zarzalejo,2020-08-04 09:58:00,NaN,0.00,NaN,60.31,45.0,2714.11,1837.0
190,Somosierra,2020-08-04 09:58:00,NaN,0.00,NaN,0.00,NaN,2325.58,1436.0
70,Aldea del Fresno,2020-08-04 09:58:00,NaN,0.00,NaN,70.47,65.0,2290.35,88.0
152,Villa del Prado,2020-08-04 09:58:00,NaN,0.00,NaN,0.00,137.0,2101.23,1718.0
194,Cervera de Buitrago,2020-08-04 09:58:00,NaN,0.00,NaN,0.00,NaN,2000.00,395.0
192,Orusco de Tajuña,2020-08-04 09:58:00,NaN,0.00,NaN,0.00,24.0,1929.26,1028.0
40,Cenicientos,2020-08-04 09:58:00,NaN,49.19,NaN,49.19,39.0,1918.35,376.0
43,Cercedilla,2020-08-04 09:58:00,NaN,14.23,5.0,71.16,134.0,1907.20,382.0
80,Leganés,2020-08-04 09:58:00,33.0,17.38,76.0,40.03,3581.0,1886.12,745.0
72,Talamanca de Jarama,2020-08-04 09:58:00,NaN,0.00,NaN,0.00,68.0,1763.03,1454.0
142,Sevilla la Nueva,2020-08-04 09:58:00,NaN,21.46,NaN,21.46,163.0,1749.30,1415.0
93,Valverde de Alcalá,2020-08-04 09:58:00,NaN,0.00,NaN,0.00,8.0,1720.43,1662.0
15,Madrid-Moratalaz,2020-08-04 09:58:00,24.0,25.38,37.0,39.12,1595.0,1686.58,79614.0
103,El Berrueco,2020-08-04 09:58:00,NaN,0.00,NaN,0.00,12.0,1578.95,210.0
108,Torrelodones,2020-08-04 09:58:00,NaN,4.22,5.0,21.08,371.0,1564.28,1527.0

In [52]:
list_mn = ['Madrid-Hortaleza', 'Torrejón de Ardoz', 'Madrid-Moratalaz', 'Madrid-Vicálvaro', 'Buitrago del Lozoya']
df_sub = df_mn_madrid.query('municipio_distrito.isin(@list_mn)', engine='python')

df_piv = df_sub[['municipio_distrito','fecha_informe', 'tasa_incidencia_acumulada_ultimos_14dias']].drop_duplicates()\
    .pivot(index='fecha_informe', columns='municipio_distrito', values='tasa_incidencia_acumulada_ultimos_14dias')

ax = df_piv.loc['2020-05-01':].plot(figsize=(15,8),use_index=True, table=False, title='tasa incidencia acumulada 14dias ..', legend=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [53]:
list_mn = ['Madrid-Hortaleza', 'Torrejón de Ardoz', 'Madrid-Moratalaz', 'Madrid-Vicálvaro']
df_sub = df_mn_madrid.query('municipio_distrito.isin(@list_mn)', engine='python')
df_piv = df_sub[['municipio_distrito','fecha_informe', 'tasa_incidencia_acumulada_activos_ultimos_14dias']].drop_duplicates()\
    .pivot(index='fecha_informe', columns='municipio_distrito', values='tasa_incidencia_acumulada_activos_ultimos_14dias')

ax = df_piv.loc['2020-05-01':].plot(figsize=(15,8),use_index=True, table=False, title='tasa incidencia  actitvos acumulada 14dias ..', legend=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## Situation in Galicia
In Galicia is one of the commmunity less affected
https://galiciancovid19.info/

wiki
https://gl.wikipedia.org/wiki/Pandemia_por_coronavirus_de_2020_en_Galicia

### Draw circle 1km around coordinates
https://1km.geomatico.es/
https://www.unkm.fr/#40.468796399999995,-3.6396593000000004

In [54]:
import shapely
from shapely.geometry.point import Point

In [55]:
center = [40.468474, -3.639756]

In [56]:
from functools import partial

import pyproj
from shapely import geometry
from shapely.geometry import Point
from shapely.ops import transform

lon, lat = -122.431297, 37.773972 # lon lat for San Francisco
lon, lat = -3.639756, 40.468474
radius = 1000  # in m

local_azimuthal_projection = "+proj=aeqd +R=6371000 +units=m +lat_0={} +lon_0={}".format(
    lat, lon
)
wgs84_to_aeqd = partial(
    pyproj.transform,
    pyproj.Proj("+proj=longlat +datum=WGS84 +no_defs"),
    pyproj.Proj(local_azimuthal_projection),
)
aeqd_to_wgs84 = partial(
    pyproj.transform,
    pyproj.Proj(local_azimuthal_projection),
    pyproj.Proj("+proj=longlat +datum=WGS84 +no_defs"),
)

center = Point(float(lon), float(lat))
point_transformed = transform(wgs84_to_aeqd, center)
buffer = point_transformed.buffer(radius)
# Get the polygon with lat lon coordinates
circle_poly = transform(aeqd_to_wgs84, buffer)

In [57]:
circle_poly